[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Conigrave"]
	path = Conigrave
	url = https://github.com/conig/conigrave
[submodule "corx"]
	path = corx
	url = https://github.com/conig/corx
[submodule "revise"]
	path = revise
	url = https://github.com/conig/revise
